.btn-reg {
  background-color: blue;
  color: white;
  margin-right: 30px;
  font-size: 20px;
  min-width: 75px;
}

.btn-log {
  background-color: rgb(244, 255, 121);
  color: black;
  margin-right: 30px;
  font-size: 20px;
  min-width: 75px;
}
.maincontainer {
  align-content: center;
  text-align: center;
  margin: 300px;
}
